<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ site.title }}</title>
</head>
<body>
    <main>
        <header class="site-header">
            <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
            <nav class="site-nav">
                <a href="/sample/">Sample</a>
                <a href="/about/">About</a>
            </nav>
        </header>
        {{ content }}
    </main>
</body>
</html>
